body
{
	display: table;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/time.jpg);
	background-position: center top;
	color: white;
}

/*our heading*/
#header
{
	text-align: center;
	font-size: 6vw;
	font-weight: bold;
}

/*our lap time indication*/
#laptime
{
	text-align: right;
	font-size: 4vw;
}

/*actual time measured*/
#time
{
	text-align: center;
	font-size: 8vw;
}

/*all different buttons*/
#controlbutton
{
	margin-bottom: 100px;
}

.controls
{
	color: white;
	background-color: #d7A04e;
	width: 6vw;
	height: 6vw;
	border-radius: 100%;
	text-align: center;
	padding: 30% 0;
	font-size: 1.5vw;
	cursor: pointer;
}

.controls:active
{
	background-color: white;
	color: #d7A04e;
}